 <h2><%= @student.name %></h2>
 <h4>Department</h4>
 <div class="list-group">
 <p  class="list-group-item list-group-item-action list-group-item-dark"> <%= @student.department.name %> </p>
</div>
 <h4>Section</h4>
<div class="list-group">
 <p class="list-group-item list-group-item-action list-group-item-dark"><%= @student.section.name %> </p>
</div>
